<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Formulario Filme</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form th:action="@{/salvar}" th:object="${filme}" method="post">
            <input th:field="*{id}" type="hidden"/>
                <div class="form-group">
                    <label for="inputNome">Nome</label>
                    <input type="text" class="form-control" id="inputNome" th:field="*{nome}"/>
                    <span  th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="badge badge-danger" >erro</span>
                </div>
                <div class="form-group">
                    <label for="inputAno">Ano de lançamento</label>
                    <input type="number" class="form-control" id="inputAno" th:field="*{ano}"/>
                    <span  th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}" 
                    class="badge badge-danger" >erro</span>
                </div>
                <div class="form-group">
                    <label for="inputDiretor">Diretor</label>
                    <input type="text" class="form-control" id="inputDiretor" th:field="*{diretor}"/>
                    <span  th:if="${#fields.hasErrors('diretor')}" th:errors="*{diretor}" 
                    class="badge badge-danger" >erro</span>
                </div>
                <div class="form-group">
                    <label for="inputImdb">Imdb</label>
                    <input type="number" class="form-control" id="inputImdb" th:field="*{imdb}"/>
                    <span  th:if="${#fields.hasErrors('imdb')}" th:errors="*{imdb}" 
                    class="badge badge-danger" >erro</span>
                </div>
                <a th:href="@{/}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>